---
const logoPath = '/logo.svg';
---

<div id="container" class="min-h-screen flex items-center justify-center bg-gray-50 p-4">
    <main class="w-full max-w-4xl">
        <section id="hero" class="flex flex-col items-center justify-center p-8 text-center gap-6">
            
            <h1 class="text-3xl md:text-5xl font-extrabold m-0 leading-tight uppercase 
                       text-brand-pink tracking-wider">
                Próximamente
            </h1>
            <p class="text-xl md:text-2xl mt-4 font-light text-brand-pink">
                Hecho con <span id="heart" class="inline-block text-red-400">❤️</span> Amor.
            </p>
			<img src={logoPath} width="150" alt="Logo de la Marca Capa a Capa" 
                 class="mb-8 shadow-xl w-32 md:w-40 " />
        </section>
    </main>
</div>

<style>
    .text-brand-pink {
        color: #e2c5ca; 
    }

    #heart {
        color: #c08492;
        display: inline-block;
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }
</style>